.imgHeader{
    margin: 1px 0 0 0;
    /* border: 2px solid white; */
    text-align: center;
    color: #ffc400;
}
#caro{
    /* border: 2px solid green; */
    margin: 0 0 0 0;
}


#row1 .card{
    /* border: 2px solid blue; */
    border-radius: 8px;
    background-color: #1d1d1d;
    color: #ffffff;
}

#multiImagesSlider{
    border-radius: 8px;
}

#contRol{
    
    margin: 0px 0 2px 0;
}



@media only screen and (max-width: 720px) {
    
    #button1{
        color: #cf0808;
        visibility:hidden;
       
    }

    #button2{
        color: #1d1d1d;
        visibility:hidden;
    }
}

#carouselExampleControls{
    margin: 0 12px 0 12px;
    border: 1px solid rgb(255, 239, 149);
    border-radius: 8px;
    
}

#caroItemBig{
    /* border: 2px solid green; */
    border-radius: 8px;
}

#bigItem{
    border-radius: 8px;
}