.card:hover {
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.353) !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.h1-train {
  color: #ffc107;
  margin-left: 11px;
}

.trainer {
  border: 1px solid #ffc107;
  margin: 10px;
  border-radius: 4px;
}

.line {
    background-color: #ffc107;
    width: 100%;
    height: 1px;
}
