.card:hover {
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.353) !important;
}

.card-body {
  padding: 3rem 0 !important;
}

.h1-train {
  color: #ffc107;
  margin-left: 11px;
  text-align: center;
}

.trainer {
  /* border: 1px solid #ffc107; */
  margin: 10px;
  border-radius: 8px;
}

.line {
    background-color: #ffc107;
    width: 100%;
    height: 1px;
}
#trainerImg{
  border-radius: 10px;
  /* border: 2px solid red; */
  width: 100%;
  
}

#TrainerCard{
  /* border: 2px solid green; */
  border-radius: 10px;
  margin: 0 0 0 0;
}
