.Exercises{
margin-left: 5%;

}

.cardCon{
    display: flex;
    flex-direction: row;
    width: 90%;

}
.cardCon2{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 0 0 20%;
    

}

@media only screen and (max-width: 720px) {
    .cardCon{
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0px ;
        width: 100%;   
    }

    .cardCon2{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 0 0 0;
        
    
    }

    .Exercises{
        
        margin-left: 0%;
        
        }
        .cardCon2{
            display: flex;
            flex-direction: column;
            width: 100%;
        
        }
}

#cardBody{
    background-color: #222222;
    text-decoration: none;
    color: #ffc400;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    width: 35%px;
    height: 40%;
    /* border: 1px solid #ffe694; */
}
#cardBody2{
    background-color: #222222;
    text-decoration: none;
    color: #ffc400;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
    width: 35%px;
    height: 40%;
    /* border: 1px solid #ffe694; */
}

#exLogo{
    margin: 0 0 0 0;
    width: 100%;
    /* border: 2px solid red; */
}

.card-text{
    text-align: center;
    text-decoration: none;
}
#excercisesCards{
    text-align: center;
    text-decoration: none;
    

}
.linkk{
    text-decoration: none;
    
    
}


.cardButton{
    border: none;
    border-radius: 8px;
    background-color: #ffc400;
    height: 50px;
    width: 200px;
}
.cardButton:hover{
    border: none;
    border-radius: 8px;
    background-color: #ffc800bd;
    height: 50px;
    width: 200px;
    transition: 200ms;
}
.cardButton:active{
    background-color: #424242bd;
}