.imgHeader{
    margin: 1px 0 0 0;
    /* border: 2px solid white; */
    text-align: center;
    color: #ffc400;
}
#caro{
    /* border: 2px solid green; */
    margin: 0 0 0 0;
}


#row1 .card{
   
    border-radius: 8px;
    padding: 0%;
    

}

#multiImagesSlider{
    border-radius: 8px;
    
    width: 110;
}

#contRol{
    
    margin: 0px 0 2px 0;
}





@media only screen and (max-width: 720px) {
    
    #button1{
        color: #cf0808;
        visibility:hidden;
       
    }

    #button2{
        color: #1d1d1d;
        visibility:hidden;
    }
}

#carouselExampleControls{
    margin: 0 0 0 10%;
    width: 80%;
    /* border: 1px solid rgb(255, 239, 149); */
    border-radius: 8px;
    
}

#caroItemBig{
    /* border: 2px solid green; */
    border-radius: 8px;
}

#bigItem{
    border-radius: 8px;
}